{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Convera-Service-API",
    "version" : "1.0.1"
  },
  "servers" : [ {
    "url" : "https://api-demo.convera.com",
    "description" : "Demo server url"
  }, {
    "url" : "https://platform.api.convera.com",
    "description" : "Production server url"
  } ],
  "tags" : [ {
    "name" : "Bank Directory",
    "description" : "The Bank Directory API"
  }, {
    "name" : "Customers",
    "description" : "View Customer Information"
  }, {
    "name" : "Funding",
    "description" : "View order and payment funding event information"
  }, {
    "name" : "Notifications",
    "description" : "Generate and view event notifications"
  }, {
    "name" : "Orders",
    "description" : "Create and manage orders used to process transactions"
  }, {
    "name" : "Payees",
    "description" : "Create, retrieve, and manage payees, the recipients of payments made through our Payments API"
  }, {
    "name" : "Payments",
    "description" : "the Payments API"
  }, {
    "name" : "Quick-Quotes",
    "description" : "Create and manage QuickQuotes"
  }, {
    "name" : "Quotes",
    "description" : "Create and manage quotes used to generate the financial cost of an order"
  }, {
    "name" : "Reporting",
    "description" : "the Reporting API"
  }, {
    "name" : "Token provider",
    "description" : "Endpoint to fetch token for authorization of the convera api endpoints"
  }, {
    "name" : "Transaction Account",
    "description" : "Retrieve information related to transaction accounts used to process transactions"
  }, {
    "name" : "Utilities",
    "description" : "Collection of various API tools used to facilitate payments, UI development, and payee management"
  }, {
    "name" : "Wallets",
    "description" : "Wallets API"
  }, {
    "name" : "Webhooks",
    "description" : "Create and manage webhooks for sending asynchronous events"
  } ],
  "paths" : {
    "/bank-directory/iban" : {
      "post" : {
        "tags" : [ "Bank Directory" ],
        "summary" : "Get bank details by their IBAN.",
        "operationId" : "Get Bank Directory By Iban",
        "requestBody" : {
          "description" : "Search criteria",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteria"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully received bank list or may getting validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The resource you were trying to reach is not found"
          },
          "500" : {
            "description" : "Internal exceptions which cannot handle eg. Database down",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bank-directory/search" : {
      "post" : {
        "tags" : [ "Bank Directory" ],
        "summary" : "Bank detailss",
        "description" : "Bank details can be found by providing Bank Country as well as Currency and at least one of the following: SWIFT Routing Code (e.g. Sort Code, BSB Code, Fedwire number etc.) Bank Name and City Street address may be provided to further filter the results\n",
        "operationId" : "Get Bank Directory",
        "requestBody" : {
          "description" : "Search criteria",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteria"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully received bank list or may getting validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "The resource you were trying to reach is not found"
          },
          "500" : {
            "description" : "Internal exceptions which cannot handle eg. Database down",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Retrieve a customer by ID",
        "operationId" : "Get Customer By Id",
        "parameters" : [ {
          "name" : "userId",
          "in" : "header",
          "description" : "User ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Customer ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerDataDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}/banks" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get all customer bank details by customer ID",
        "operationId" : "Get All Customer Banks",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page Number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankAccountDataDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/banks/{id}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get customer bank details by ID",
        "operationId" : "Get Customer Bank",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseBankAccountResponseV2"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseBankAccountResponseV2"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "summary" : "Delete customer bank with ID",
        "operationId" : "Delete Customer Bank",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseCustomerChildDeleteResponseV2"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/banks" : {
      "put" : {
        "tags" : [ "Customers" ],
        "summary" : "Update customer bank data",
        "operationId" : "Update Customer Bank",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankAccountUpdateRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseBankAccountResponseV2"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "Create customer bank",
        "operationId" : "Create Customer Bank",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankAccountRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseBankAccountResponseV2"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/funding/orders/{id}/payments" : {
      "post" : {
        "tags" : [ "Funding" ],
        "summary" : "Search funding payments",
        "operationId" : "Get Funding Payments",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Order ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "87dbca37-07ca-4739-acbb-9b546ad242e7"
        }, {
          "name" : "startIndex",
          "in" : "query",
          "description" : "Start Index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 1
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FundingServiceGetPaymentRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Get Funding payments",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FundingServicePaymentResponseDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifications" : {
      "post" : {
        "tags" : [ "Notifications" ],
        "summary" : "Create a notification object",
        "operationId" : "Create Notification",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateNotificationCommand"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Create New Notification",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateNotificationModelResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}" : {
      "get" : {
        "tags" : [ "Notifications" ],
        "summary" : "Retrieve a notification by tracking ID",
        "operationId" : "Track Notification",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "1ab006c4-7cce-434a-9e21-1898341b7352"
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification Tracking Details",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrackNotificationModelResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/events" : {
      "get" : {
        "tags" : [ "Notifications" ],
        "summary" : "Retrieve a list of all notification events",
        "operationId" : "Get Events",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List All Events",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListEventsModelResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Notifications" ],
        "summary" : "Create a notification event",
        "operationId" : "Create Events",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateEvent"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Create New Event",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateEventModelResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/vnd.api.v1+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Create a new order",
        "operationId" : "Create Order Request",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateOrderPaymentsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderRequestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderRequestResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/search" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Search orders",
        "operationId" : "Get Orders By Search Parameters",
        "parameters" : [ {
          "name" : "startIndex",
          "in" : "query",
          "description" : "Start Index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "1"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderIds",
          "in" : "query",
          "description" : "Order IDs",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "orderType",
          "in" : "query",
          "description" : "Order Type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerOrderIds",
          "in" : "query",
          "description" : "Customer Order IDs",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Orders Details by Transaction Account Id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrdersResponseBean"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/{action}" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Send event notification.",
        "operationId" : "Get Order Action By ID",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "header",
          "description" : "Customer ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "header",
          "description" : "User ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "committedBy",
          "in" : "header",
          "description" : "Committed By",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "action",
          "in" : "path",
          "description" : "Action",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Notification sent successfully.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/quote" : {
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Get an orders quote",
        "operationId" : "Get Order Quote",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "header",
          "description" : "Customer ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "header",
          "description" : "User ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderId",
          "in" : "path",
          "description" : "Order ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuoteReviewWrapperDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees" : {
      "post" : {
        "tags" : [ "Payees" ],
        "summary" : "Create a payee",
        "operationId" : "Create Payee",
        "parameters" : [ {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PayeeRequestDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponsePayeeResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/{id}" : {
      "get" : {
        "tags" : [ "Payees" ],
        "summary" : "Get a payee by their payeeId.",
        "operationId" : "Get Payee By Id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponsePayeeResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Payees" ],
        "summary" : "Update the payee by their payeeId.",
        "operationId" : "Update Payee",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdatePayeeRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseUpdatePayeeResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Payees" ],
        "summary" : "Delete a payee by their payeeId.",
        "operationId" : "Delete Payee",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseDeleteResponseDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/{id}/banks" : {
      "get" : {
        "tags" : [ "Payees" ],
        "summary" : "get BankDetails by their PayeeId.",
        "operationId" : "Get Bank Details By PayeeId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page Number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponsePageResponseV1BankAccountDetailResponseDtoV2"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Payees" ],
        "summary" : "Add BankDetails to a Payee.",
        "operationId" : "Add Payee Bank Details",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/BankAccountDetailRequestDtoV2"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseListBankAccountDetailResponseDtoV2"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/{id}/banks/duplicate" : {
      "post" : {
        "tags" : [ "Payees" ],
        "summary" : "Duplicate Check for A Bank Detail of A Payee",
        "operationId" : "Duplicate Check Payee Bank Detail",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DuplicateCheckBankRequestDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseDuplicateCheckResponseV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/banks/{id}" : {
      "put" : {
        "tags" : [ "Payees" ],
        "summary" : "Update Bank Details By Bank Id",
        "operationId" : "Update Bank Details By Bank Id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "correlationId",
          "in" : "query",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankAccountDetailRequestDtoV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseBankAccountDetailResponseDtoV2"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Payees" ],
        "summary" : "Delete A Bank Detail of A Payee By their BankDetail Id",
        "operationId" : "Delete Bank Detail",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseDeleteResponseDtoV1"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/duplicate" : {
      "post" : {
        "tags" : [ "Payees" ],
        "summary" : "Duplicate Check for a Payee",
        "operationId" : "Duplicate Check Payee Detail",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DuplicatePayeeCheckRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseDuplicateCheckResponseV1"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payees/search" : {
      "get" : {
        "tags" : [ "Payees" ],
        "summary" : "Get Payees by their CustomerTransactionAccountId.",
        "operationId" : "Get Payees By Customer Transaction Account Id",
        "parameters" : [ {
          "name" : "customerTransactionAccountId",
          "in" : "query",
          "description" : "Customer Transaction Account ID",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerId",
          "in" : "query",
          "description" : "Customer ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "query",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page Number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponsePageResponseV1PayeeResponseDtoV2"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/paymentId/{paymentId}" : {
      "patch" : {
        "tags" : [ "Payments" ],
        "summary" : "Allows customer to edit a payment values",
        "operationId" : "Edit Payment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Payment ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EditPaymentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentRecordResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentEditionResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/payments/cancellation/quote" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Request post-commit cancellation quote for the given payments",
        "operationId" : "Generate Cancellation Quote By Payments",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdBy",
          "in" : "header",
          "description" : "Created By",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CancellationQuoteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseOrderCancellationResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/payments/void" : {
      "patch" : {
        "tags" : [ "Payments" ],
        "summary" : "Delete payment",
        "operationId" : "Void Payment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MultiLinePaymentVoidedRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentVoidedResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentVoidedResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/payments" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Create payments",
        "operationId" : "Create Payment",
        "parameters" : [ {
          "name" : "orderId",
          "in" : "path",
          "description" : "Order ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MultiLinePaymentCreationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentRecordResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomPaymentRecordResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/payments/search" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Get payments by search parameters",
        "operationId" : "Get Payment Records",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addOn",
          "in" : "query",
          "description" : "Add On",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GetPaymentRecordRequestV1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentRecordDataDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad  Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/validate" : {
      "post" : {
        "tags" : [ "Payments" ],
        "summary" : "Validate payment",
        "operationId" : "Validate Payment",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidatePaymentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidatePaymentControllerResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad  Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quick-quotes" : {
      "post" : {
        "tags" : [ "Quick-Quotes" ],
        "summary" : "Create a new Quick Quote",
        "operationId" : "Save Quick Quote",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateQuoteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuickQuoteDataDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quick-quotes/{id}" : {
      "get" : {
        "tags" : [ "Quick-Quotes" ],
        "summary" : "Retrieve a quote by ID",
        "operationId" : "Get Quote By Id",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "f65c8b81-d1dd-4e66-a4f0-7caaeab7e531"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuoteDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{id}" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "summary" : "Retrieve a quote by ID",
        "operationId" : "Get Quote",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "f65c8b81-d1dd-4e66-a4f0-7caaeab7e531"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuoteDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/orders/{id}" : {
      "get" : {
        "tags" : [ "Quotes" ],
        "summary" : "List all quotes associated with an order",
        "operationId" : "get Quote By id",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "f65c8b81-d1dd-4e66-a4f0-7caaeab7e531"
        }, {
          "name" : "startIndex",
          "in" : "query",
          "description" : "Start Index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuoteServiceListDataDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments-report" : {
      "post" : {
        "tags" : [ "Reporting" ],
        "summary" : "Search Payments",
        "operationId" : "Search Payments",
        "parameters" : [ {
          "name" : "transactionAccountId",
          "in" : "header",
          "description" : "Transaction Account ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addOn",
          "in" : "query",
          "description" : "Add On",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateReportRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Search Payments.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentReportResponseListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token" : {
      "post" : {
        "tags" : [ "Token provider" ],
        "summary" : "Get OAuth access token",
        "operationId" : "Get Auth Id Token",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenRequestDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenRequestDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction-account/{id}" : {
      "get" : {
        "tags" : [ "Transaction Account" ],
        "summary" : "Retrieve transaction account by ID",
        "operationId" : "Get Transaction Account By Id",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "01-2345-6789"
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get transaction account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionAccountResponseDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction-account/customer/{id}" : {
      "get" : {
        "tags" : [ "Transaction Account" ],
        "summary" : "List all transaction accounts by customer",
        "operationId" : "Get Transaction Account By Customer ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "f65c8b81-d1dd-4e66-a4f0-7caaeab7e53f"
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "get transaction account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionAccountArrayResponseDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries" : {
      "get" : {
        "tags" : [ "Utilities" ],
        "summary" : "Search countries",
        "operationId" : "Get Countries Details",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startIndex",
          "in" : "header",
          "description" : "Start Index",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "header",
          "description" : "Page Size",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sortBy",
          "in" : "header",
          "description" : "Sort By",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "countryCodes",
          "in" : "query",
          "description" : "Country Codes",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "currencyCodes",
          "in" : "query",
          "description" : "Currency Codes",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "directions",
          "in" : "query",
          "description" : "Directions",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "paymentMethods",
          "in" : "query",
          "description" : "Payment Methods",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "countries details response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CountryDetailResponseModel"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{country-code}/currencies" : {
      "get" : {
        "tags" : [ "Utilities" ],
        "summary" : "List valid country-currency combinations",
        "operationId" : "Get Payment Capability Countries And Currencies",
        "parameters" : [ {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "country-code",
          "in" : "path",
          "description" : "Country Code",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page Size",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "startIndex",
          "in" : "query",
          "description" : "Start Index",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "payment capabilities countries & currencies response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CountryCurrencyDetailsPaginatedCommonResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse1"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
                }
              }
            }
          },
          "500" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse1"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{country-code}/currencies/{currency-code}/payment-methods" : {
      "get" : {
        "tags" : [ "Utilities" ],
        "summary" : "List valid country-currency combinations",
        "operationId" : "Get Payment Capability Payment Methods",
        "parameters" : [ {
          "name" : "country-code",
          "in" : "path",
          "description" : "Country Code",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currency-code",
          "in" : "path",
          "description" : "Currency Code",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "correlationId",
          "in" : "header",
          "description" : "Correlation ID",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "payment capabilities methods response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CountryCurrencyPaymentMethodsCommonResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse1"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponseObject"
[...]
